/* main sass styles for application */

$coreColor: yellowgreen;
$default: yellow;
$gmail: #2a9fd6;
$photos: #77b300;
$drive: #9933cc;
$facebook: #ff8800;
$search: #cc0000;

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $coreColor;
}

button:disabled {
  opacity: 0.6;
}

.db-leadspace.jumbotron {
  padding-bottom: 5px;
  max-height: 500px;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
  &.default {
    color: $default;
  }
  &.db-leadspace-collapse {
    &.primary {
      color: $gmail;
    }
    &.success {
      color: $photos;
    }
    &.info {
      color: $drive;
    }
    &.warning {
      color: $facebook;
    }
    &.danger {
      color: $search;
    }
    max-height: 150px;
    h1 {
      font-size: 2.3em;
      display: inline;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

.btn-default,
.btn-primary,
.btn-info,
.btn-success,
.btn-warning,
.btn-danger {
  opacity: 0.3;
  &.db-active-panel {
    opacity: 1;
  }
}

.db-leadspace.jumbotron h1 {
  -webkit-transition: font-size 0.3s;
  -moz-transition: font-size 0.3s;
  transition: font-size 0.3s;
}

.db-navigation {
  button:not(:first-child),
  a:not(:first-child) {
    margin-left: 15px;
  }
}

.db-nav-buttons {
  margin-top: 30px;
}

.panel {
  margin-top: 30px;
  p {
    color: white;
    font-size: 1.1em;
  }
}
