/* main sass styles for application */
html {
  font-size: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: yellowgreen; }

button:disabled {
  opacity: 0.6; }

.db-leadspace.jumbotron {
  padding-bottom: 5px;
  max-height: 500px;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s; }
  .db-leadspace.jumbotron.default {
    color: yellow; }
  .db-leadspace.jumbotron.db-leadspace-collapse {
    max-height: 150px; }
    .db-leadspace.jumbotron.db-leadspace-collapse.primary {
      color: #2a9fd6; }
    .db-leadspace.jumbotron.db-leadspace-collapse.success {
      color: #77b300; }
    .db-leadspace.jumbotron.db-leadspace-collapse.info {
      color: #9933cc; }
    .db-leadspace.jumbotron.db-leadspace-collapse.warning {
      color: #ff8800; }
    .db-leadspace.jumbotron.db-leadspace-collapse.danger {
      color: #cc0000; }
    .db-leadspace.jumbotron.db-leadspace-collapse h1 {
      font-size: 2.3em;
      display: inline;
      vertical-align: middle;
      margin-left: 10px; }

.btn-default,
.btn-primary,
.btn-info,
.btn-success,
.btn-warning,
.btn-danger {
  opacity: 0.3; }
  .btn-default.db-active-panel,
  .btn-primary.db-active-panel,
  .btn-info.db-active-panel,
  .btn-success.db-active-panel,
  .btn-warning.db-active-panel,
  .btn-danger.db-active-panel {
    opacity: 1; }

.db-leadspace.jumbotron h1 {
  -webkit-transition: font-size 0.3s;
  -moz-transition: font-size 0.3s;
  transition: font-size 0.3s; }

.db-navigation button:not(:first-child),
.db-navigation a:not(:first-child) {
  margin-left: 15px; }

.db-nav-buttons {
  margin-top: 30px; }

.panel {
  margin-top: 30px; }
  .panel p {
    color: white;
    font-size: 1.1em; }
